.button{
    width: 300px;
    font-weight: bold;
    font-size: 27px;
    border: none;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
}

.button:hover{
    filter: brightness(95%);
}