.start_screen {
    min-height: 100vh;
    background-image: url("../../../img/screens/StartScreen/women_in_plane.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.start_screen_content > div {
    max-width: 60%;
}

.stars {
    padding: 20px;
}

.stars:hover {
    filter: brightness(95%);
}

.stars > svg {
    margin: 5px;
}

.start_screen .button {
    text-align: left;
}

.blue.header{
    margin-bottom: 1rem;
}