.company_position {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.4);
    padding: 5px 20px;
    margin: 5px;
    font-size: 16px;
}

.company_position:hover {
    color: black;
    cursor: pointer;
}

.company_form {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company_form .company_position {
    /*white-space: nowrap;*/
    width: 40%;
}

.company_selected {
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    color: black;
}

.company_star {
    padding: 5px;
}

.company_star:hover {
    color: #ffc107;
}

.company_star:hover ~ .company_star {
    color: black;
}

.company_stars:hover {
    color: #ffc107;
}

