@import "https://fonts.googleapis.com/css?family=Open+Sans&display=swap";

.default_padding {
    padding: 50px 70px;
}

body {
    margin: 0;
    font-size: 25px;
    font-family: "Open Sans", serif;
}

.header {
    font-size: 50px;
    font-weight: bold;
}

.blue {
    color: rgb(38, 73, 145);
}

.yellow {
    color: #ffc107;
}

.bg_yellow{
    background-color: #ffc107;
}

.bg_white{
    background-color: white;
}

.display_flex {
    display: flex;
}

.justify_content_between{
    justify-content: space-between;
}

.little_text{
    font-size: 12px;
}

.margin_bottom_4{
    margin-bottom: 4rem;
}

.padding_top_4{
    padding-top: 4rem;
}

.text_center{
    text-align: center;
}
