.default_padding {
    padding: 50px 70px;
}

body {
    margin: 0;
    font-size: 25px;
    font-family: "Google Sans", serif;
}

.header {
    font-size: 50px;
    font-weight: bold;
}

.blue {
    color: rgb(38, 73, 145);
}

.yellow {
    color: #ffc107;
}

.bg_yellow{
    background-color: #ffc107;
}

.display_flex {
    display: flex;
}

.little_text{
    font-size: 12px;
}

.margin_bottom_4{
    margin-bottom: 4rem;
}