.default_padding {
    padding: 50px;
}

body {
    font-size: 25px;
    font-family: "Google Sans", serif;
}

.header {
    font-size: 50px;
    font-weight: bold;
}

.blue {
    color: rgb(38, 73, 145);
}