@media (max-width: 720px) {
    .default_padding {
        padding-left: 30px;
        padding-right: 30px;
    }

    .margin_bottom_4 {
        margin-bottom: 1rem;
        padding-top: 1rem;
    }

    .start_screen {
        background-image: none !important;
        min-height: auto !important;
    }

    .header {
        font-size: 30px;
    }

    body {
        font-size: 16px;
    }

    .display_flex {
        flex-wrap: wrap;
    }

    .start_screen_content > div {
        max-width: none !important;
    }

    .stars {
        margin: auto;
    }.final_form_

    .button {
        width: 100%
    }

    .information_partners {
        text-align: center;
        width: auto !important;
        margin: auto !important;
    }

    .founders {
        text-align: center;
    }

    .gen_info_center > img {
        height: 35px!important;
    }

    .information_partners > div {
        width: 100% !important;
    }

    .second_screen {
        background-image: none !important;
    }

    .progressbar {
        display: none;
    }

    .company_stars {
        flex-wrap: nowrap;
    }

    .company_form {
        margin: 0 !important;
        max-width: none !important;
    }

    .company_form .company_position {
        width: 100% !important;
    }

    .second_screen .header {
        padding-top: 50px !important;
    }

    .women_with_case {
        background-image: none !important;
    }

    .form_element input {
        width: 100% !important;
        padding-right: 0 !important;
    }

    .form_element .display_flex {
        flex-wrap: nowrap;
    }

    .form_element {
        padding-right: 0 !important;
        display: block !important;
    }
}