.footer img {
    height: 50px;
}

.footer {
    color: rgba(65, 60, 52, 0.4);
    font-weight: bold;
    min-height: 100vh;
}

.information_partners {
    width: 80%;
    margin: 20px 100px;
    flex-wrap: wrap;
}

.information_partners > div {
    width: 200px;
}

.founders img {
    margin: 20px 20px;
}

.gen_info_center img {
    margin: 20px 20px;
}